
/* css variables */
@import url('./partials/_variables.css');

/* import globle styling */
@import url('./partials/_global.css');


/* start navigation */
.header-area .main-menu .nav-item{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 0.5rem;
    /* color: var(--title-color); */
}

/* end navigation */

.card:hover{
    border: 2px solid #0e84f2;
    cursor: pointer;
}

.block-title{
    font-weight: 500;
}

.block-content{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}


/* Footer Area */
footer.footer-area{
    padding: 5rem 0;
}

footer.footer-area .social h5{
    font: normal 500 23px/30px var(--roboto);
}

footer.footer-area .social a>i{
    font-size: 22px;
    padding: 2rem;
    color:#0a0a0a60;;

}

footer.footer-area .social a>i:hover{
    color: var(--primary-color);
}
/* End Footer Area */